.banner {
    /*background-image: url("./images/jumbotron_back.jpg");*/
    /*background-size: cover;*/
    /*background-color: #e0dede;*/
}

.bgcolor {
    background-color: #1881D1;
}

.profilepicture {
    padding: 20px;
}

 .header {
    text-align: center;
}

#newlogo {
    width: 250px;
    height: 250px;
}
