.jumbotron {
    background-image: url("./images/jumbotron_back.jpg");
    background-size: cover;
}

.profilepicture {
    padding: 20px;
}

 .header {
    text-align: center;
}

.jumbotext {
    color: #0057B3;
    text-align: center;

}