.banner {
    /*background-image: url("./images/jumbotron_back.jpg");*/
    /*background-size: cover;*/
    background-color: #0690ff;
}

.bgcolor {
    background-color: #0690ff;
}

.profilepicture {
    padding: 20px;
}

 .header {
    text-align: center;
     color: #7606ff;
}

 p {
     color: white;
 }

.caption {
    color: white;
 }