body {
    background-image: url("https://cdn.pixabay.com/photo/2020/04/20/07/00/road-5066641_1280.jpg");
    background-size: 100%;
    background-position: center;
}

#Image {
    height: 200px;
    width: 200px;
}